@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

//home section
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .home_content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    .logo {
      font-family: "Menlo";
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 10px solid white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      width: 230px;
      height: 200px;
      background-color: black;
      color: white;
      font-size: 3.5rem;
    }
    .name {
      color: #302e4d;
    }
    .profession {
      color: #6b688e;
      font-family: "Menlo";
      font-weight: bold;
      text-shadow: 1px 1px 0px black;
    }
    .icons_container {
      display: flex;
      gap: 1rem;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        color: white;
        background-color: #302e4d;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
      }
      a:hover {
        transform: translateY(-5px);
        background-color: white;
        color: #302e4d;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
          rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      }
    }
  }
}

//about section

.about {
  background-color: #f2f2fc;

  .about_content {
    padding: 4rem;
    .main_title {
      font-size: 2.3rem;
      color: #302e4d;
    }
    .line {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      height: 5px;
      background-color: #ec1839;
    }
    .about_description {
      margin-top: 2.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: #4f4d74;
    }
    .description {
      margin-top: 1.5rem;
      color: #78769a;
      font-size: 1.1rem;
    }
    .personal_info {
      margin-top: 2rem;
      display: flex;
      gap: 2rem;
      .personal_info_child {
        width: 50%;
        p {
          color: #4a4772;
          border-bottom: 1px solid #e8dfec;
          font-size: 1.1rem;
          padding: 0.5rem 0;
        }
        span {
          margin-right: 0.5rem;
          font-weight: bold;
        }
      }
    }

    .btns_container {
      margin-top: 3rem;
      display: flex;
      gap: 2rem;
      .my_btn {
        background-color: #ec1839;
        border: 0;
        padding: 0.7rem 1rem;
        color: white;
        font-size: 1.1rem;
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.3s;
        text-decoration: none;
      }
      .my_btn:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
        transform: translateY(-3px);
      }
    }

    .courses_container {
      margin-top: 2rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      .each_course_container {
        padding: 1rem;

        border-radius: 0.6rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
          rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        .image_language {
          display: flex;
          align-items: center;
          .language_img {
            width: 50px;
            height: 50px;
          }
          .language {
            font-weight: bold;
            font-size: 1.1rem;
            margin: 0.5rem;
            text-align: center;
            margin-bottom: 1rem;
            color: #646276;
          }
        }
        ul {
          margin-top: 1rem;
          margin-left: 30px;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          li {
            color: #4a4772;
          }
        }
      }
    }

    .skills_personalities {
      margin-top: 4rem;
      width: 100%;
      display: flex;

      .cont {
        position: relative;
        flex: 1;
        border-left: 1px solid #4f4d74;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        p {
          color: #4a4772;
          padding: 0.3rem 0;
        }
        .circ {
          width: 15px;
          height: 15px;
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-50%, -50%);
          background-color: #302e4d;
          border-radius: 50%;
        }
        .title_container {
          display: flex;
          align-items: center;
          color: #4a4772;
          gap: 0.5rem;
          position: absolute;
          top: 0;
          left: 20px;
          transform: translateY(-50%);
          .ico {
            font-size: 1.2rem;
          }
          p {
            font-weight: bold;
          }
        }
      }
    }
  }
}
//portfolio section
.portfolioo {
  background-color: #f2f2fc;
  width: 100%;
  min-height: 100vh;
  .portfolioo_content {
    padding: 4rem;

    .main_title {
      font-size: 2.3rem;
      color: #302e4d;
    }
    .line {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      height: 5px;
      background-color: #ec1839;
    }

    .portfolio_container {
      margin-top: 5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 5rem;

      .card-container {
        width: 300px;
        height: 350px;
        perspective: 1000px;
      }

      .card {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.8s;
        cursor: pointer;
      }

      .card:hover {
        transform: rotateY(180deg);
      }
      .card-container:hover .card{
        transform: rotateY(180deg);
      }

      .front,
      .back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
      }

      .front {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f2f2fc;
        border-radius: 2rem;
        box-shadow: inset 3px 4px 6px 0px #cfcfcf, inset -3px -4px 6px #fefefe;
      }

      .front img {
        width: 80%;
        height: 60%;
        object-fit: cover;
        margin-bottom: 3rem;
        border-radius: 1rem;
      }

      .front h2 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
      }

      .back {
        transform: rotateY(180deg);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 2rem;
        background-color: whitesmoke;

        .buttons_container {
          display: flex;
          flex-direction: column;

          align-items: center;
          gap: 2rem;
          font-size: 1rem;
          font-family: sans-serif;
          text-transform: uppercase;
          letter-spacing: 2px;

          .project {
            width: 100%;
            color: #8b8b8b;
            font-weight: bold;
            text-align: center;
            background: #f5f5f5;
            padding: 0.5rem 1.5rem;
            border-radius: 5rem;
            box-shadow: 5px 5px 5px #cbcbcb, -5px -5px 8px #ffffff;
          }
          .project:active {
            box-shadow: inset 3px 4px 4px 0px #b9b9b9,
              inset -3px -4px 4px 0px #fefefe;
          }
          .code {
            color: #8b8b8b;
            font-weight: bold;
            text-align: center;
            padding: 0.5rem 1.5rem;
            border-radius: 5rem;
            border-radius: 39px;
            background: #f5f5f5;
            box-shadow: inset 3px 4px 4px 0px #b9b9b9,
              inset -3px -4px 4px 0px #fefefe;
          }
          .code:active {
            box-shadow: 5px 5px 5px #cbcbcb, -5px -5px 8px #ffffff;
          }
        }
      }

      .back p {
        font-size: 20px;
        text-align: center;
      }
    }
  }
}
//contact section
.contact {
  background-color: #f2f2fc;
  width: 100%;
  min-height: 100vh;
  .contact_content {
    padding: 4rem;
    .main_title {
      font-size: 2.3rem;
      color: #302e4d;
    }
    .line {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      height: 5px;
      background-color: #ec1839;
    }
    .contact_boxes {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 4rem auto;

      .each_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.6rem;
        .icon {
          color: #ec1839;
          font-size: 2.5rem;
        }
        p {
          color: #4a4772;
        }
      }
    }
    form {
      .send_btn {
        margin-top: 2rem;
        width: 150px;
        font-size: 1.3rem;
        border: 0;
        border-radius: 1rem;
        cursor: pointer;
        transition: 0.4s;

        background-color: #ec1839;
        color: white;
        font-weight: bold;
        height: 50px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
          rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
          rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
          rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
          rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
          rgba(0, 0, 0, 0.09) 0px 32px 16px;
      }
      .send_btn:hover {
        width: 160px;
        font-size: 1.4rem;
      }
      .name_email {
        display: flex;
        gap: 1rem;
        .input_container {
          position: relative;
          flex: 1;
          height: 60px;

          input {
            width: 100%;
            height: 100%;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
              rgba(0, 0, 0, 0.23) 0px 3px 6px;
            border-radius: 5rem;
            outline: none;
            font-size: 1.3rem;
            color: #52506e;
            padding: 0 1.5rem;
          }
          ::placeholder {
            font-size: 1.3rem;
            color: #8f8daf;
          }
          .label {
            position: absolute;
            top: 0;
            left: 10px;
          }
        }
      }
      .input_container {
        height: 60px;

        input {
          width: 100%;
          height: 100%;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          border-radius: 5rem;
          outline: none;
          font-size: 1.3rem;
          color: #52506e;
          padding: 0 1.5rem;
        }
        textarea {
          min-width: 100%;
          max-width: 100%;
          min-height: 200px;
          max-height: 200px;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          border-radius: 2rem;
          outline: none;
          font-size: 1.3rem;
          color: #52506e;
          padding: 1.5rem;
        }
        ::placeholder {
          font-size: 1.3rem;
          color: #8f8daf;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .home {
    .home_content_container {
      .name {
        font-size: 1.4rem;
      }
    }
  }
}

@media (max-width: 1300px) {
  .about {
    .about_content {
      .main_title {
        font-size: 1.5rem;
      }
      .about_description {
        font-size: 1.5rem;
      }
    }
  }
}
@media (max-width: 1000px) {
  .about {
    .about_content {
      .main_title {
        font-size: 1.5rem;
      }
      .description {
        font-size: 0.8rem;
      }
      .about_description {
        font-size: 1.1rem;
      }
      .personal_info {
        .personal_info_child {
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
@media (max-width: 870px) {
  .about {
    .about_content {
      .btns_container {
        margin-top: 1.5rem;
        .my_btn {
          font-size: 0.9rem;
          padding: 0.5rem 0.9rem;
        }
      }
      .personal_info {
        flex-direction: column;
        gap: 0;
        .personal_info_child {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .about {
    .about_content {
      .courses_container {
        grid-template-columns: repeat(2, 1fr);
      }
      .skills_personalities {
        flex-direction: column;
        gap: 1.5rem;
        .cont {
          grid-template-columns: repeat();
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .about {
    .about_content {
      .courses_container {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
@media (max-width: 500px) {
  .about {
    .about_content {
      .skills_personalities {
        .cont {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}

@media (max-width: 1010px) {
  .contact {
    .contact_content {
      .contact_boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
    }
  }
}
@media (max-width: 600px) {
  .contact {
    .contact_content {
      form {
        .name_email {
          flex-direction: column;
          .input_container {
            input {
              height: 50px;
            }
          }
        }
      }
      .contact_boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
      }
    }
  }
}
